/* Add styles here */
* {
    margin: 0; 
    padding: 0;
}
h2 {
    margin: 15px;
    text-align: center;
    color: green;
}

body {
    background-color: rgb(183, 244, 216);
    font-family: roboto, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 1400px;
}

.container {
    background-color: white;
    width: 450px;
    height: 600px;
    border-radius: 13px;
    box-shadow: rgba(49, 253, 4, .5);
    color: green;
}

button {
    background-color: green;
    padding: 16px 160px;
    border: none;
    border-radius: 29px;
    color: aliceblue;
}

.input {
    width: 90%;
}

